version: '3.8'
services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: auth
    ports:
      - 172.26.248.185:5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: